@use '../abstracts' as *;
@use '../base/variables' as *;

.navbar {
  @include flex-ctr;
  background-color: $gray-100;
  font-weight: 700;
  .innerNav {
    @include flex-bw;
    .logo {
      cursor: pointer;
      @include flex-ctr;
      padding-right: $base;
      font-size: $lg;
      font-weight: 900;
      span {
        margin-left: $md;
      }
    }
    ul {
      padding-left: $md;
      @include media($mobile) {
        display: none;
      }
      @include flex-ctr;
      gap: $lg;
      overflow: auto;
      white-space: nowrap;
      text-transform: capitalize;
    }
    max-width: $laptop;
    @include media($laptop) {
      padding: 0 $sideMarginLaptop;
    }
    @include media($tablet) {
      padding: 0 $sideMarginTablet;
    }
    @include media($mobile) {
      padding: 0 $sideMarginMobile;
    }
  }
}
.avatarContainer {
  @include flex-ctr;
  gap: $md;
  .avatar {
    border: 2px solid $dark-100;
    border-radius: 50%;
    height: 2rem;
  }
}
