@use '../abstracts/' as *;
@use '../base/variables' as *;

.profile {
  display: grid;
  column-gap: $xl;
  grid-template-columns: 1fr 1fr;
  // media query mixin
  @include media($tablet) {
    grid-template-columns: 1fr;
  }
  .pageTitle {
    font-weight: 900;
    font-size: $f-2xl;
    grid-column: 1/3;
    @include media($tablet) {
      grid-column: 1/2;
    }
  }
  .profileDetails {
    display: grid;
  }
  h3 {
    font-weight: 900;
    font-size: $f-xl;
    border-bottom: 1px solid $gray-100;
    padding-bottom: $sm;
    margin: $xl 0;
  }
  input,
  button,
  label {
    margin-bottom: $md;
    max-width: 15rem;
  }
  .snippetLine {
    font-size: $f-base;
    font-weight: 700;
    @include flex-bw;
    &:hover {
      color: $main-300;
    }
    .snippetMeta {
      @include flex-ctr;
      gap: $lg;
    }
    span {
      font-size: $f-md;
    }
  }
}
