// $main-200: rgba(241, 109, 112, 1);
// $secondary: rgb(22, 131, 173);
// $light: rgb(243, 243, 243);
// $dark: rgb(12, 12, 12);

/* SCSS HSL */
$light: rgb(255, 255, 255);
$dark-100: hsla(240, 14%, 8%, 1);
$dark-200: hsla(240, 14%, 6%, 1);
$dark-300: hsla(240, 14%, 4%, 1);
$gray-300: hsla(235, 21%, 11%, 1);
$gray-200: hsla(225, 13%, 42%, 1);
$gray-100: hsla(218, 17%, 62%, 1);
$main-300: hsla(350, 96%, 43%, 1);
$main-200: hsla(353, 86%, 54%, 1);
$main-100: hsla(352, 74%, 74%, 1);
