/* nunito-regular - latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/nunito-v16-latin-ext-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/nunito-v16-latin-ext-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700 - latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/nunito-v16-latin-ext-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/nunito-v16-latin-ext-700.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-900 - latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: local(''), url('/fonts/nunito-v16-latin-ext-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/nunito-v16-latin-ext-900.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
$f-xs: 0.65rem;
$f-sm: 0.75rem;
$f-md: 0.825rem;
$f-base: 1rem;
$f-lg: 1.25rem;
$f-xl: 1.75rem;
$f-2xl: 2.5rem;
$f-3xl: 4rem;

html {
  font-family: 'Nunito';
}
.navbar {
  font-weight: 700;
}

h1 {
  margin-bottom: 0.75rem;
}
h2 {
  margin-bottom: 0.6rem;
}
h3 {
  margin-bottom: 0.5rem;
}
h4 {
  margin-bottom: 0.4rem;
}
