@use '../abstracts/' as *;
@use '../base/variables' as *;
.btn {
  border-radius: $sm;
  color: $dark-300;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: $gray-100;
  padding: $md $base;
  cursor: pointer;
  text-transform: lowercase;
  height: min-content;
  min-width: 2rem;
  @include trns-ease();
  &:disabled {
    background-color: $gray-300;
  }
  &:hover {
    color: $main-300;
    fill: $main-300;
  }
}
