@use '../abstracts/' as *;
@use '../base/' as *;
.formWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include media($tablet) {
    grid-template-columns: 1fr;
  }
  gap: $xl;
  .header {
    @include flex-bw;
    grid-column: 1/3;
    h2 {
      font-size: $f-xl;
      font-weight: 900;
    }
    .editIconWrapper {
      @include flex-ctr;
      gap: $md;
      svg {
        width: 20px;
      }
    }
  }
  .form {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    @include media($tablet) {
      grid-template-columns: 1fr;
      .firstColumn {
        grid-column: 1/3;
      }
      button {
        grid-column: 1/3;
      }
    }

    input,
    select,
    button {
      height: 2.5rem;
    }
    input,
    select,
    label,
    textarea {
      display: block;
    }
    input,
    select,
    textarea,
    .editor {
      margin-bottom: $md;
    }
    .editor {
      @include border-dark;
    }
    label {
      margin-bottom: $sm;
    }
    input[type='text'],
    textarea {
      width: 100%;
      @include border-dark;
      padding: $md;
    }
    select {
      width: 100%;
      padding: $md;
      @include border-dark;
    }
    textarea {
      resize: vertical;
    }
    button {
      @include border-dark;

      grid-column: 1/3;
    }
    .form-flex {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $xl;
      div {
        width: 100%;
      }
    }
    p {
      color: $main-300;
      font-size: $f-sm;
      padding: $xs 0 $md;
    }
  }
  .highlighted {
    grid-column: 1/3;
    height: min-content;
    position: relative;
    .langBadge {
      color: $gray-300;
      font-weight: 900;
      background-color: $gray-100;
      padding: $md;
      border-radius: $md;
      position: absolute;
      right: -5px;
      top: 2px;
      z-index: 10;
      font-size: $f-md;
      border: $gray-300 2px solid;
    }
  }
}

input,
select,
button {
  height: 2.5rem;
  @include border-dark;
  padding: $md;
  width: 100%;
}
input,
select,
label,
textarea {
  display: block;
}
