@use "../abstracts/" as *;
@use "../base/variables" as *;
.snippet {
  @include box;
  padding-left: 0;
  display: grid;
  grid-template-columns: 6rem 1fr;
  .like {
    grid-row: 1/6;
    flex-direction: column;
    @include flex-ctr;
    font-size: $f-md;
    svg {
      width: $xl;
      cursor: pointer;
    }
    svg.liked {
      fill: $main-200;
    }
  }
  .title {
    border-bottom: 1px solid $gray-200;
    padding-bottom: $sm;
    margin-bottom: $md;
    font-size: $f-lg;
  }
  .meta {
    font-size: $f-md;
    @include flex-bw;
    margin-bottom: $md;
    .language a {
      padding-left: $xs;
      color: $main-300;
    }
  }
  .description {
    margin: $sm 0;
  }

  @include media($mobile) {
    grid-template-columns: 4rem 1fr;
    .like {
      font-size: $f-sm;
      svg {
        width: $lg;
      }
    }
    .title {
      font-size: $f-base;
    }
    .meta {
      font-size: $f-sm;
    }
    .description {
      font-size: $f-md;
    }
  }
}
