@use "../abstracts/" as *;
@use "../base/variables" as *;
.snippet {
  @include box;
  width: 100%;
  overflow-x: hidden;

  .content {
    .title {
      border-bottom: 1px solid $gray-200;
      padding-bottom: $sm;
      margin-bottom: $md;
      font-size: $f-lg;
      width: 100%;
      word-break: break-all;
      @include truncate(2);
    }
    .meta {
      font-size: $f-md;
      @include flex-bw;
      margin-bottom: $md;
      &__left {
        @include flex-ctr;
        .language {
          @include flex-ctr;
          gap: $sm;
        }
        .language a {
          padding-left: $xs;
          color: $main-300;
        }
        svg {
          width: $base;
          cursor: pointer;
        }
        .like {
          margin-left: $base;
          @include flex-ctr;
          font-size: $f-sm;
          gap: $sm;
          svg.liked {
            fill: $main-200;
          }
        }
      }
      .time {
        @include flex-ctr;
        svg {
          padding-top: 2px;
          width: $base;
          margin-left: 4px;
        }
      }
    }
    .description {
      margin-top: $sm;
      @include truncate(2);
    }
  }

  @include media($mobile) {
    grid-template-columns: 4rem 1fr;
    .like {
      font-size: $f-sm;
      svg {
        width: $lg;
      }
    }
    .title {
      font-size: $f-base;
    }
    .meta > * {
      font-size: $f-xs;
    }
    .description {
      font-size: $f-md;
    }
  }
}
