$mobile: 540px;
$tablet: 768px;
$laptop: 1080px;
$sideMarginMobile: 1rem;
$sideMarginTablet: 2rem;
$sideMarginLaptop: 3rem;

$xs: 0.125rem;
$sm: 0.25rem;
$md: 0.5rem;
$base: 1rem;
$lg: 1.25rem;
$xl: 1.5rem;
